.App {
  text-align: center;
}

.letter {
  background-color: rgb(49, 49, 49);
  width: 50px;
  height: 50px;
  flex-direction: column;
  display: inline-block;
  margin-left: 15px;
  font-size: 25px;
  text-align: center;
  margin-bottom: 4%;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}

body {
  background-color: #282c34;
  background-color: #FFFFFF;
}





